.home-container {
  flex: 1;
  background: url('../assests/meteor_shower.png') repeat;
  background-size: cover;
  animation: scrollBackground 60s linear infinite;
  display: flex;
  flex-direction: column;
}

.home-container p {
  margin: 5vh;
  width: 90%;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -750px 750px;
  }
}

.home-title {
  padding-top: 5vh;
  font-size: 4rem;
  color: #FFA500;
  text-shadow: 2px 2px #000;
  opacity: 0;
  transition: opacity 2s ease-in;
  font-family: 'Press Start 2P', cursive;
}

.home-description {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.fade-in .home-title {
  opacity: 1;
}

.fade-in .home-description {
  opacity: 1;
}